.card_container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}
.card{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    /* border: 1px solid red; */
    overflow: hidden ;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card .img{
    min-width: 250px;
    width: 40%;
    height: 100%;
    background: #333;
    position: relative;
}
.card .img .pic{
    object-fit: cover;
}
.card .text{
    font-family: 'Kanit', sans-serif;
    padding: 1rem;
    margin-top: 1.5rem;
    width: 60%;
    height: 100%;
}